@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------GRID CONTAINER----------------------------------*/

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}

.menu {
    grid-area: header;
}

.contenido {
    grid-area: main;
}

.redes {
    grid-area: footer;
}



/*---------------------------------HEADER----------------------------------*/
header {
    background-color: rgba(51, 59, 90, 255);
    display: flex;
    justify-content: center;
}

header a {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

/*-------------HEADER-----Menu----------------*/

header nav ul li a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    font-weight: 500;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin: 20px;
    transition: 2s;
}

header nav ul li:hover {
    transform: scale(1.1);
}


header nav ul li a img {
    width: 50px;
    height: 50px;
}

/*-------------HEADER-----Buscador----------------*/

header nav div a {
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}

header nav div input {
    border-radius: 5px;
    width: 300px;
    height: 20px;
}

header nav div img {
    width: 35px;
    height: 35px;
}

header nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------MAIN-----------------------------------*/

/*-------------MAIN-----Index----------------*/

main {
    background-image: url("../img/mainfondo4.jpg");
    background-attachment: fixed;
}

.hero h1 {
    position: relative;
    top: 40px;
}

.hero {
    color: white;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    height: 250px;
    background-image: url("../img/fondo.jpg");
    background-attachment: center;
}

/*-------------MAIN-----Card juegos----------------*/

.subtitulo {
    text-align: center;
    margin: 30px;
    color: white;
}

.juegos div {
    width: 400px;
    height: 400px;
    border: 1px solid gainsboro;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.664);
    transition: 2s;
}

.juegos div:hover {
    transform: scale(1.1);
}

.juegos div img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.juegos div h3 {
    margin-bottom: 20px;
}

.juegos div a {
    text-decoration: none;
    background-color: rgba(182, 12, 12, 0.822);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}

.juegos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*-------------MAIN-----Card accesorios----------------*/

.accesorios div {
    width: 400px;
    height: 400px;
    border: 1px solid gainsboro;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.664);
    transition: 2s;
}

.accesorios div:hover {
    transform: scale(1.1);
}

.accesorios div img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.accesorios div h3 {
    margin-bottom: 20px;
}

.accesorios div a {
    text-decoration: none;
    background-color: rgba(182, 12, 12, 0.822);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}

.accesorios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*-------------MAIN-----Card membresias----------------*/

.membresias div {
    width: 400px;
    height: 400px;
    border: 1px solid gainsboro;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.664);
    transition: 2s;
}

.membresias div:hover {
    transform: scale(1.1);
}

.membresias div img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.membresias div h3 {
    margin-bottom: 20px;
}

.membresias div a {
    text-decoration: none;
    background-color: rgba(182, 12, 12, 0.822);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}

.membresias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*-------------MAIN-----Page playstation y Xbox----------------*/

.play div div {
    width: 500px;
    height: 300px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.664);
}

.play div div img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.titulo {
    color: black;
    text-decoration: none;
}

/*-------------MAIN-----Page registro y contacto----------------*/

.formularios {
    color: white;
    width: 500px;
    height: 700px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularios div div input {
    border-radius: 5px;
    width: 300px;
    margin: 5px;
    display: flex;
}

.contacto {
    display: flex;
    justify-content: center;
}

.enviar {
    width: 50px;
}

/*-------------MAIN-----Card Iframe----------------*/

iframe {
    border-radius: 15px;
}

.video {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/*---------------------------------FOOTER----------------------------------*/
footer div a img {
    width: 50px;
    height: 50px;
    transition: 1s;
}

footer div a img:hover {
    transform: scale(1.3);
}

footer div {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgba(51, 59, 90, 255);
}

/*---------------------------------MEDIA QUERIES----------------------------------*/

@media screen and (max-width:984px) {
    .hero {
        color: black;
    }
}

@media screen and (max-width:942px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width:702px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px;
    }
}

@media screen and (max-width:500px) {
    .play div div {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:417px) {
    .hero {
        font-size: 20px;
    }
}

@media screen and (max-width:401px) {
    .juegos div {
        width: 300px;
        height: 300px;
    }

    .juegos div img {
        width: 300px;
        height: 200px;
    }

    .accesorios div {
        width: 300px;
        height: 300px;
    }

    .accesorios div img {
        width: 300px;
        height: 200px;
    }

    .membresias div {
        width: 300px;
        height: 300px;
    }

    .membresias div img {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width:343px) {
    header nav div {
        flex-direction: column;
    }
}