@mixin movil ($medida : 404px) {
    @media screen and (max-width : $medida ) {
        @content;
    }
}

main {
    .juegos {
        div {
            @include movil() {
                width: 150px;
                height: 250px;

                img {
                    @include movil() {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }

    .accesorios {
        div {
            @include movil() {
                width: 150px;
                height: 250px;

                img {
                    @include movil() {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }

    .membresias {
        div {
            @include movil() {
                width: 150px;
                height: 250px;

                img {
                    @include movil() {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }
}